<link rel="stylesheet" href="/public/css/profile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{{> header}}

<div class="post-container">
  <link rel="stylesheet" href="/public/css/dashboard.css">

  <div class="profile-card"><br>

    <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Avatar" class="profile-image " style="
        width:100px">

    <h4>Eren Yaeger</h4>
    <span>Software Engineer</span>
    <h6>Graduating in 2021</h6>
    <br>
  </div>

  <h4>My posts</h4>
  <hr /> <!-- a single post record goes here -->
  {{> profilePostCard}}


</div>