<link rel="stylesheet" href="/public/css/site.css">
<div class="header">
    <a class="header-nav" onclick="openNav()" href="javascript:void(0);"><i class="fa fa-bars"
            style="font-size: 1.5em;"></i></a>

    <a href="/home" class="header-title">Stevens Collaboration Platform</a>
    <div class="header-right">
        <a title="My Account">
            <img src="https://www.w3schools.com/w3images/avatar2.png" class="circle" style="height:30px;width:30px"
                alt="Avatar">
        </a>

        <a title="Log Out" class="sign-out-button">
            <i class="fa fa-sign-out" aria-hidden="true" style="font-size: 1.5em;"> </i>
        </a>
    </div>
</div>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/home">Home</a>
    <hr class="hr">
    <a href="/dashboard">Dashboard</a>
    <hr class="hr">
    <a href="/profile">Profile</a>

</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>