<link rel="stylesheet" href="/public/css/site.css">
<div class="header">
    <a class="header-nav" href="javascript:void(0);"><i class="fa fa-bars"></i></a>

    <a href="#default" class="header-title">Stevens Collaboration Platform</a>
    <div class="header-right">
        <a title="My Account">
            <img src="https://www.w3schools.com/w3images/avatar2.png" class="circle" style="height:30px;width:30px"
                alt="Avatar">
        </a>
    </div>
</div>