<link rel="stylesheet" href="/public/css/dashboard.css">

<div class="post-cards"><br>
    <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Avatar" class="avatar-image" style="width:60px">
    <span class="w3-right w3-opacity">1 min</span>
    <h4>Eren Yaeger</h4><br>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.</p>
    <div class="w3-row-padding" style="margin:0 -16px">

    </div>
    <hr>
    <div class="card-actions">
        <button type="button" class="card-actions-button"><i class="fa fa-thumbs-up"></i>
            Like</button>
        <button type="button" class="card-actions-button"><i class="fa fa-comment"></i>
            Comment</button>
    </div>
</div>