<div class="row aSinglePost"> <!-- a single post in user profile-->

  <div class="col-3"></div>  <!-- for white space-->
  <div class="col-9">  <!-- User's Post go here, I use card as post --> 
    <div class="card .container-fluid">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.postContent}}</p>
        <p class="card-text">{{post.tags}}</p>
      </div>
    </div> 
  </div>

</div><br> <!-- a single post End -->