<link rel="stylesheet" href="/public/css/profile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/public/css/site.css">
<div class="header">
    <!-- header -->
    <a class="header-nav" onclick="openNav()" href="javascript:void(0);"><i class="fa fa-bars"
            style="font-size: 1.5em;"></i></a>

    <a href="/posts" class="header-title">Stevens Collaboration Platform</a>


    <form class="header-middle" style="margin:5px 0px 0px 7%; display: inline-block;">  <!-- search form-->
        <div>
            <div class="input-group" style="height:30px;width:400px">
                <input id="tags" name="tags" type="text" class="form-control" placeholder="Search for tags">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Search</button>
                </span>
            </div>
        </div>
    </form>

    <div class="header-right">
        <a href="/user/{{userId}}/profile" title="My Account">
            <img src="https://www.w3schools.com/w3images/avatar2.png" class="circle" style="height:30px;width:30px; display: inline-block;"
                alt="Avatar">
        </a>

        <a href="/logout" title="Log Out" class="sign-out-button">
            <i class="fa fa-sign-out" aria-hidden="true" style="font-size: 1.5em;"> </i>
        </a>
    </div>
</div>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/auth">Home</a>
    <hr class="hr">
    <a href="/posts">Dashboard</a>
    <hr class="hr">
    <a href="/user/{{userId}}/profile">Profile</a>

</div> <!-- header End -->

<div class="post-container">
    <div class="post-cards">
        <h2>Create Posts</h2>
        <hr class="hr-create">
        <form>
            <div class="create-post-forms">
                <div class="row">
                    <div>
                        <input type="text" id="fname" name="firstname" placeholder="Post Title..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-75">
                        <textarea id="subject" name="subject" placeholder="Post Content.."
                            style="height:100px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-75">
                        <input type="text" id="lname" name="lastname" placeholder="Tags..">
                    </div>
                </div>

            </div>
            <div class="card-actions">
                <button type="button" class="card-actions-button"><i class="fa fa-plus"></i>
                    Posts</button>
            </div>
        </form>
    </div>

    <h4>All Posts</h4>
    <input type="hidden" id="user_id" name="user_id" value="{{currUserId}}">
    <hr class="hr-create">
    {{#each postItems}}
    <!-- postItems is a post list, for each post, it will use postCards.handlebars template (lecture11_code). I pass in postItems from /routers/index.js -->
    {{> postCards}}
    {{/each}}
</div>