<link rel="stylesheet" href="/public/css/profile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/public/css/dashboard.css">

<link rel="stylesheet" href="/public/css/site.css">
<div class="header">
    <!-- header -->
    <a class="header-nav" onclick="openNav()" href="javascript:void(0);"><i class="fa fa-bars"
            style="font-size: 1.5em;"></i></a>

    <a href="/posts" class="header-title">Stevens Collaboration Platform</a>


    <div class="header-right">
        <a href="/user/{{sessionUserId}}/profile" title="My Account">
            <img src="https://www.w3schools.com/w3images/avatar2.png" class="circle"
                style="height:30px;width:30px; display: inline-block;" alt="Avatar">
        </a>

        <a href="/logout" title="Log Out" class="sign-out-button">
            <i class="fa fa-sign-out" aria-hidden="true" style="font-size: 1.5em;"> </i>
        </a>
    </div>
</div>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/auth">Home</a>
    <hr class="hr">
    <a href="/posts">Dashboard</a>
    <hr class="hr">
    <a href="/user/{{sessionUserId}}/profile">Profile</a>

</div> <!-- header End -->

<div class="post-container">
    <div class="post-cards">
        <h2>Search Posts</h2>
        <hr class="hr-create">
        <form id="search">
            <div class="search-post-forms">
                <label style="width:100%" id="searchLabel" for="searchTerm">
                    <input type="text" id="searchTerm" name="searchTerm" placeholder="Search for title of posts" required>
                </label>
            </div>
            <div class="card-actions">
                <button type="submit" class="card-actions-button"><i class="fa fa-search"></i> Search</button>
            </div>
        </form>
    </div>
    <div id="create-card" class="post-cards">
        <h2>Create Posts</h2>
        <hr class="hr-create">
        <form action="/posts/" method="POST">
            <div class="create-post-forms">
                <div class="row">
                    <div>
                        <input type="text" id="title" name="title" placeholder="Post Title.." required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-75">
                        <textarea id="postContent" name="postContent" placeholder="Post Content.." style="height:100px"
                            required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-75">
                        <input type="text" id="tags" name="tags" placeholder="Tags.." required>
                    </div>
                </div>

            </div>
            {{#if hasErrors}}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {{/if}}
            <div class="card-actions">
                <button type="submit" class="card-actions-button"><i class="fa fa-plus"></i>
                    Create</button>
            </div>
        </form>
    </div>
    <div id="main-posts">
        {{#unless hasErrors}}
        <h4>All Posts</h4>
        {{/unless}}
        <input type="hidden" id="user_id" name="user_id" value="{{sessionUserId}}">
        <hr class="hr-create" style="margin-bottom: 20px;">
        {{#each postItems}}  <!-- postItems is a post list, for each post, it will use postCards.handlebars template (lecture11_code). -->
            {{> postCards sessionUserId=../sessionUserId}}
        {{/each}}
    </div>

    <div id="post" hidden>

    </div>
</div>