.post-container {
  padding: 0.01em 16px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.search-form {
  display: inline-block;
}

@media (min-width: 601px) {
  .post-container {
    width: 58.33333%;
  }


}

@media (min-width: 601px) {
  .post-container {
    width: 58.33333%;
  }
}

.post-cards {
  padding: 0.01em 16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #000 !important;
  background-color: #fff !important;
  margin-bottom: 20px;
}

.avatar-image {
  border-radius: 50%;
  float: left !important;
  margin-right: 16px !important;
}

.card-content {
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

.card-ations-form {
  display: inline-block;
}

.card-actions-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: white;
  background-color: #a32638;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.chip {
  display: inline-block;
  padding: 0 10px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.create-post-forms {
  padding: 15px;
}

.search-post-forms {
  margin: 0
}

.row {
  margin-bottom: 20px;
}

input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.hr-create {
  border-color: #000;
  margin: 5px 0 5px 0;
}

.comment-date {
  width: 10px;
}

#like {
  color: blue;
}

#not-like {
  color: white;
}